.section {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 50%;
  border: 1px solid black;

  &--symbols {
    background-color: #ffe5b4;
  }

  &--numbers {
    color: #FFFFFF;
    background-color: #8b00ff;
  }

  &--other {
    color: #FFFFFF;
    background-color: #000000;
  }
}

.form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.input {
  width: 70%;
}

.button {
  padding: 0 10px;
  min-height: 22px;

  cursor: pointer;
  background-color: transparent;
  border: 1px solid teal;
  border-radius: 5px;

  &:hover {
    background-color: rgba(0, 128, 128, 0.3);
  }

  &:active {
    background-color: transparent;
    box-shadow: 0 0 10px teal;
  }
}

.list {
  margin: 0;
  padding: 0;
  max-width: 100%;
  list-style: none;
}

.count {
  margin-left: 10px;
  padding: 0 10px;

  font-weight: bold;

  color: #000000;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
